.logo {
  font-family: Raleway, sans-serif;
  font-size: 26px;
  color: $blue;
  line-height: 1.19;
  letter-spacing: 0.02em;
}
.footer__logo {
  display: block;
  margin-bottom: 10px;
}
.header__logo {
  color: $black;
  font-family: "Raleway";
  font-style: normal;
}
.footer__wite {
  color: $white;
  font-family: "Raleway";
  font-style: normal;
  line-height: 1.19;
}
