.section {
  padding-top: 94px;
  padding-bottom: 94px;

  &__title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
  }

  &__team {
    background-color: $light-cream;
  }
  &__work {
    padding-top: 0;
  }
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  @media screen and (min-width: 15px) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }

  .container-header {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @media screen and (min-width: $tablet) and (max-width: $desktop) {
      height: 80px;
    }
  }
  &__burger-menu {
    padding: 10px 0;
    border: none;
    background-color: $white;
    cursor: pointer;

    @media screen and (min-width: $tablet) {
      display: none;
    }
  }
}

.header {
  border-bottom: 1px solid $dark-cream;
}
.footer {
  display: flex;
  background-color: $dark-navy-blue;
  padding: 60px 0;

  @media screen and (max-width: $tablet) {
    justify-content: center;
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: block;
    /*flex-direction: column;
    align-items: center; */
  }
}
.footer__container {
  display: flex;
  justify-content: flex-start;
  @media screen and (max-width: $tablet) {
    flex-wrap: wrap;
    justify-content: space-around;
    /* display: block;
    text-align: center; */
  }
  @media screen and (min-width: $tablet) and (max-width: 1199px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 738px;
  }
}
