.section {
  padding-top: 94px;
  padding-bottom: 94px;
  @media screen and (min-width: $desktop) {
    padding: 94px 0;
  }

  &__title {
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;

    @media screen and (min-width: $desktop) {
      font-size: 36px;
      line-height: 1.16;
      margin-bottom: 50px;
    }
  }

  &__team {
    background-color: $light-cream;
  }
  &__work {
    padding-top: 0;

    @media screen and (min-width: $mobile) {
      padding-bottom: 0;
    }

    @media screen and (min-width: $tablet) {
      padding-bottom: 0;
    }

    @media screen and (min-width: $desktop) {
      padding-bottom: 94px;
    }
  }
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  @media screen and (min-width: $mobile) {
    width: $mobile;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
  }
}
.container-header {
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header {
  border-bottom: 1px solid $dark-cream;
}
.footer {
  display: flex;
  background-color: $dark-navy-blue;
  padding: 60px 0;
}
.footer__container {
  display: flex;
  justify-content: flex-start;
}
