.team__socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  &:not(:last-child) {
    margin-right: 10px;
  }
}

.team__socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  background-color: $white;
  color: $slightly-grey;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:is(:hover, :focus) {
    background-color: $blue;
    color: $white;
  }
}

.team__socials-icons {
  fill: currentColor;
  &:is(:hover, :focus) {
    fill: $white;
  }
}
